@font-face {
  font-display: swap; 
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v20-latin_cyrillic-regular.eot'); 
  src: url('../fonts/ubuntu-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-regular.woff2') format('woff2'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-regular.woff') format('woff'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-regular.ttf') format('truetype'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-regular.svg#Ubuntu') format('svg'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ubuntu-v20-latin_cyrillic-500.eot'); 
  src: url('../fonts/ubuntu-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-500.woff2') format('woff2'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-500.woff') format('woff'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-500.ttf') format('truetype'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-500.svg#Ubuntu') format('svg'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-v20-latin_cyrillic-700.eot'); 
  src: url('../fonts/ubuntu-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-700.woff2') format('woff2'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-700.woff') format('woff'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-700.ttf') format('truetype'), 
       url('../fonts/ubuntu-v20-latin_cyrillic-700.svg#Ubuntu') format('svg'); 
}
 
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html  {
  scroll-behavior: smooth;
}

body{
  font: normal 16px sans-serif;
  color: #555;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.8;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 70px;
}

.section-title{
  color: #219fa3;
  text-transform: uppercase;
  font: bold 32px 'Ubuntu', sans-serif;
  margin-bottom: 35px;
  text-align: center
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
}

.header__logo  {
  font-size: 1.5em;
}

.logo-link {
 color: #fff;
 opacity: 1;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active{
  text-decoration: underline;
}

.header__phone {
  color: #fff;
  opacity: 1;
  font-size: 1.5em;
  font-weight: 700;
}

.slogan{
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.slogan-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #2196F3;
  z-index: -1;
}

.slogan-bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  opacity: 0.75;
}

.slogan__title{
  font: bold 50px 'Ubuntu', sans-serif;
  margin-bottom: 15px;
}

.slogan__subtitle{
  font: normal 28px 'Ubuntu', sans-serif;
  margin-bottom: 80px;
}

.slogan__btn{
  padding: 15px 40px;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #219fa3;
  font-weight: 500;
  text-align: center;
  font-size: 0.8em;
  border: none;
}

.slogan__btn:hover, .form-btn:hover {
  color: #219fa3;
  background-color: #fff;
}

.slogan__btn:active, .form-btn:active {
  box-shadow: inset 0px 0px 3px #219fa3;
}

.particularity {
  background-color: #f1f1f1;
}

.particularity__title{
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #219fa3;
  font-weight: 500;
  position: relative;
}

.particularity__title::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #219fa3;
  top: 50%;
  right: -55px;
  transition: all 0.5s;
}
.particularity__title::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #219fa3;
  top: 50%;
  left: -55px;
  transition: all 0.3s;
}

.particularity__text {
  text-align: center;
  max-width: 70%;
  margin-bottom: 20px;
  padding: 0;
}

.ff-container input {
  display: none;
}
.filter-controls {
  display: flex;
  justify-content: center;

}
.ff-container label {
  min-height: 50px;
  cursor: pointer;
  color: #777;
  font-size: 24px;
  padding: 0 20px 30px 20px;
}

.ff-container input.ff-all:checked~.card{
  min-width: 350px;
  transform: scale(1, 1);
  transition: transform 0.3s linear;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter, .ff-items {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ff-items {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card{
  text-align: center; 
  line-height: 1.5;
}

.card-img {
  max-width: 100%;
  padding: 0px 20px;
  object-fit: cover;
  width: 400px;
}

.card-resort {
  color: #219fa3;
}

.card-price {
  color: #219fa3;
  font-size: 0.9em;
}
[value="all"]:checked~.grid .card {
  display: block;
}

[value="rus"]:checked~.grid .card:not([data-category="rus"]),
[value="ind"]:checked~.grid .card:not([data-category="ind"]),
[value="china"]:checked~.grid .card:not([data-category="china"]),
[value="viet"]:checked~.grid .card:not([data-category="viet"]) {
  display: none;
}
.card-img {
  animation: opacity 3s ;
}
@keyframes opacity {
0% {
  opacity: 0.2;
}
50% {
  opacity: 0.75;
}
100% {
  opacity: 1;
}
}
.manager {
  background-color: #f1f1f1;
}

.manger__text {
  text-align: center;
 margin-bottom: 30px;
}

.team-list {
  width: 30%;
  margin: 20px;
  text-align: center;
}

.team-list__img {
  max-width: 100%;
  width: 400px;
  object-fit: cover;
  transition: all 0.5s;
  border-radius:5px;
  box-shadow: 0 0 3px 3px #219fa313;
}

.team-list__img:hover {
  filter: opacity(80%);
  border-radius: 50%;
}

.video-bg {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-bg video {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
 }

.video-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f3031;
  opacity: 0.5;
}

.video-bg__content {
  z-index: 2;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.features {
  background: #fff;
}
.features-text {
  text-align: center;
}
.grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 30px;
}

.list-item {
  flex-basis: 10%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.list-item i {
  font-size: 40px;
  color: #219fa3;
  margin-bottom: 25px;
  transition: all 0.5s;
}

.list-item:hover  i{
   color: #414a4f;
}

.item-text {
  font-size: 0.9em;
  line-height: 1.3;
}

.reviews {
  display: flex;
  justify-content: center;
  text-align: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: #fff;
  padding: 0 20px;
  flex-basis: 25%;
  transition: all 0.8s;
}

.item:hover {
  flex-basis: 65%;
}

.item:nth-child(even) {
  background: #219fa3;
}
.item:nth-child(odd) {
  background: #414a4f;
}

.item span {
  font: 18px 'Open Sans', sans-serif;
  line-height: 1.8;
}

.selection-tour {
  background-color: #f1f1f1;
}

.section-text {
  text-align: center;
  max-width: 80%;
  margin-bottom: 20px;
}

.container-form{
  max-width: 1200px;
  width: 100%;
  padding:30px;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 0 0 3px 4px #219fa313;
}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 12px 0;
}

.form label{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.form select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #219fa3;
  padding: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.form-group input{
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #219fa3;
  padding: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.form input:focus, textarea:focus {
  border: 1px solid #414a4f;
  box-shadow: 0 0 3px 4px #219fa313;
}

.form-group1 {
  display: flex;
  align-items: center;
 
}
.form-group1 label {
  margin-right: 10px;
}
.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin: 5px;
}

.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: .8em;
  height: 0.8em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #219fa3;
}

.custom-checkbox>input:not(:disabled):active+span::before {
  background-color: #219fa3;
  border-color: #414a4f;
}

.custom-checkbox>input:focus+span::before {
  box-shadow: 0 0 0 0.1rem rgba(119, 119, 119, 0.432);
}

.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: #219fa3;
}

.custom-checkbox>input:checked+span::before {
  border-color: #219fa3;
  background-color: #219fa3;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio>span::before {
  content: '';
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #219fa3;
}

.custom-radio>input:not(:disabled):active+span::before {
  background-color: #219fa3;
  border-color: #414a4f;
}

.custom-radio>input:focus+span::before {
  box-shadow: 0 0 0 0.1rem rgba(119, 119, 119, 0.432);
}

.custom-radio>input:focus:not(:checked)+span::before {
  border-color: #219fa3;
}

.custom-radio>input:checked+span::before {
  border-color: #219fa3;
  background-color: #219fa3;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-group input[type="time"] {
  width: 30%;
}

form .form-group2{
  margin-bottom: 15px;
  width: 100%;
}

.form-group2 textarea{
  width: 100%;
  height: 20vh;
  border: 1px solid #219fa3;
  padding: 15px;
}

.button-form{
  width: 30%;
  margin: 0 auto;
}

.submit{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  padding: 15px 40px;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #219fa3;
  font-weight: 500;
  text-align: center;
  font-size: 0.8em;
  transition: all 0.5s;
}

.submit:hover {
  background-color: #fff;
  color: #219fa3;
  border: 1px solid #219fa3;
}

.submit:active {
  box-shadow: 0 0 3px 3px #219fa313;
  color: #2f3031;
}

.footer {
  background-color: #414a4f;
  color: #fff;
  padding: 30px 0;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.footer-social {
  display: flex;
  font-size: 42px;
  margin-bottom: 15px;
}

.social__item {
  margin: 0 40px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__item:last-child {
  margin-right: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.social-link {
  color: #fff;
}

.social-link:hover {
  color: #219fa3;
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .buttonup {
    display: none;
  }
  
  section {
    padding: 40px 50px; 
 }
 
.header {
    padding: 30px 50px 0;
}
.header__logo, .header__phone {
  font-size: 1.3em;
}

.slogan {
    min-height: 70vh; 
  }

.slogan__title {
    font-size: 2.2em; 
   margin-top: 50px;
  }

.slogan__subtitle {
    font-size: 1.2em;
}

.slogan__btn {
    font-size: 0.9em;
    padding: 14px 45px;
  }

.section-title {
  font-size: 1.6em;
}

.particularity__title {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.particularity__text {
  font-size: 1em;
  max-width: 85%;
  margin-bottom: 15px;
}

.card-img {
    padding: 0px 10px;
    width: 350px;
}

.team-list {
  width: 45%; 
  margin: 20px 10px;
}
.manager .grid {
    justify-content: space-around; 
}

.list-item {
  flex-basis: 25%; 
  margin: 15px;
}

.video-bg {
  height: 60vh;
}

.video-bg__title{
font-size: 1.8em;
line-height: 1.5;
}

.video-bg__subtitle{
  font-size: 1.5em;
}

.reviews {
  height: auto; 
  flex-flow: column;
}
.item {
    flex-basis: 100%;
    height: auto;
    padding: 30px;
}
.item:hover {
  flex-basis: 100%; 
}

.section-text {
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.form-group1_adaprive {
  display: flex;
  flex-direction: row; 
  align-items: center;
}
.form-group1_adaprive label {
    margin-right: 10px;
}
.form-group {
    width: calc(100% / 2 - 15px); 
}
}


@media only screen and (min-width : 1024px) and (max-width : 1300px) {
  .form-group1_adaprive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
}

@media only screen and (max-width : 767px) {

section {
    padding: 30px 20px; 
    line-height: 1.4;
  }

.section-title {
    font: bold 26px 'Ubuntu', sans-serif; 
    margin-bottom: 20px;
  }

.header {
    padding: 20px 20px 0; 
    flex-direction: column;
  }
.header__logo, .header__phone {
  font-size: 1.2em; 
}

.header__logo{
    text-align: center;
    margin-bottom: 10px;
  }

.slogan {
    min-height: 70vh;
  }

.slogan__title {
    font-size: 1.8em; 
    margin-top: 50px;
  }

.slogan__subtitle {
    font-size: 1.2em;
    margin-bottom: 40px;
  }

.slogan__btn {
    font-size: 0.7em;
    padding: 10px 30px;
  }

.particularity__title {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 10px;
  }

.particularity__title::after,
.particularity__title::before {
    content: none;
  }

.particularity__text {
    font-size: 0.9em; 
    max-width: 100%;
    margin-bottom: 20px;
}

.filter-controls {
    flex-wrap: wrap; 
    justify-content: flex-start;
}
.ff-container label {
    font-size: 1em; 
    padding: 0 10px 10px 10px;
    min-height: auto;
}
.ff-items {
    margin-top: 20px;
}
.card {
    width: 100%; 
    margin-bottom: 20px;
}
.card-img {
    padding: 0; 
    width: 100%;
}

.team-list {
    width: 80%; 
    margin: 15px auto;
}

.grid-list {
   margin: 30px 0;
}
.list-item {
  flex-basis: 100%; 
  margin: 15px 0;
  display: flex; 
  flex-direction: row; 
  text-align: left;
  align-items: center;
}
.list-item i {
  font-size: 30px;
  margin-right: 15px; 
  margin-bottom: 0;
}
.item-text {
  font-size: 0.9em;
  line-height: 1.3;
}

.video-bg {
  height: 40vh; 
}
.video-bg video {
  height: 40vh;
}

.video-bg__title{
font-size: 1.2em;
line-height: 1.3;
}

.video-bg__subtitle{
  font-size: 1em;
}

.reviews {
    height: auto; 
    flex-flow: column;
    width: 100%;
  }

.item {
    flex-basis: 100%; 
    height: auto; 
    padding: 20px;
    flex-grow: 1;
  }

.item:hover {
  flex-basis: 100%; 
}

.item span {
    font: 16px 'Open Sans', sans-serif;
    line-height: 1.5;
  }

.section-text {
   font-size: 0.85em;
   margin-bottom: 20px;
}
.container-form {
    padding: 20px;
}
  .form {
    flex-direction: column; 
    font-size: 0.9em;
  }
  .form-group {
    width: 100%; 
  }

  .form-group1_adaprive,
  .form-group1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-group1 label {
    margin-right: 0px;
  }

  .form-group input[type="time"] {
    width: 50%; 
  }

  .button-form {
    width: 80%; 
    margin-top: 10px;
  }

.footer {
    padding: 30px 0;
}
.footer-social {
   font-size: 30px;
    margin-bottom: 10px;
  }
  
.social__item {
    margin: 0 15px;
  }
}

@media only screen and (max-width : 374px) {
  body {
    font-size: 16px; 
  }
  section {
    padding: 15px 5px; 
  }

  .section-title {
    font-size: 20px; 
    margin-bottom: 10px;
  }
  .slogan {
    min-height: 55vh; 
  }
  .slogan__title {
    font-size: 1.4em; 
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .slogan__subtitle {
    font-size: 0.8em; 
    margin-bottom: 20px;
  }
  .slogan__btn {
    font-size: 0.6em; 
    padding: 8px 15px;
  }
  .particularity__title {
    font-size: 0.9em; 
    margin-bottom: 10px;
  }
  .particularity__text, .section-text {
    font-size: 0.75em; 
    margin-bottom: 15px;
  }
  .filter-controls {
    justify-content: center; 
  }
  .ff-container label {
    font-size: 14px; 
    padding: 0 5px 5px 5px; 
  }
  .reviews {
    height: auto;
  }
  .item {
    height: auto;
    padding: 10px; 
  }
  .item span {
    font-size: 14px; 
    line-height: 1.3;
  }
  .container-form {
    padding: 10px;
    box-shadow: none; 
  }
  .form label {
    font-size: 14px; 
  }
  .form-group input, .form select {
    height: 35px;
    padding: 5px 10px;
    font-size: 14px;
  }
  .form-group2 textarea{
    height: 15vh; 
  }
  .form-group input[type="time"] {
    width: 65%; 
  }
  .button-form {
    width: 100%;
    margin-top: 5px;
  }
  .submit {
    width: 100%;
    padding: 8px 15px;
  }
  .video-bg {
    height: 20vh; 
  }
  .video-bg video {
    height: 20vh;
  }
  .video-bg__title {
    font-size: 0.9em;
  }
  .video-bg__subtitle {
    font-size: 0.7em;
  }
  .list-item i {
    font-size: 20px;
  }
  .item-text {
    font-size: 0.7em;
  }
  .footer-social {
    font-size: 20px; 
  }
  .social__item {
    margin: 0 8px;
  }
  footer p {
    font-size: 10px;
  }
}
